@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
h1, h2,h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}


/*header*/
header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
}
header .wrap{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
header .wrap .logo{}
header .wrap .logo a{}
header .wrap .logo a img{display: block; height: 40px;}

header .wrap nav{}
header .wrap nav ul{display: flex;}
header .wrap nav ul li{margin: 0 20px;}
header .wrap nav ul li:last-child{margin-right: 0;}
header .wrap nav ul li a{
    display: block; 
    font-size: 16px;
    color:#555;
    text-transform: uppercase;
}
header .wrap nav ul li:hover a{color:#111;}

/*bannerTop*/
#slider{
    height: 470px;
    padding-top: 70px;    
    position: relative;
    overflow: hidden;
}
#slider .slide_frame{}
#slider .slide_frame .slide{
    width: 100%;
    height: 400px;
    position: relative;
}
#slider .slide_frame .slide .bgImg{
    width: 100%; height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

#slider .slide_frame .slide .dark{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.25);
}
#slider .wrap{
    position: absolute;
    left: 50%;
    top:70px;
    transform: translateX(-50%);
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-left:200px;
    /* background-color: #ffa; */
    display: flex;
    align-items: center;
}
#slider .wrap .text_part{
    width: calc(40% - 20px);
    margin: 0 10px;
}
#slider .wrap .text_part h2{
    font-size: 32px;
    color:#fff;
    padding-bottom: 25px;
    word-break: keep-all;
}
#slider .wrap .text_part a{
    display: block;
    width: 140px;
    height: 30px;
    border: 1px solid #fff;
    border-radius:15px;
    color:#fff;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    transition: background-color 0.5s;
}
#slider .wrap .text_part a:hover{
    background-color: rgba(255,255,255,0.3);
}

/*cont1*/
#movie{padding: 60px 0 40px;}
#movie .wrap{
    width: 1200px;
    margin: 0 auto;
}
#movie .wrap h2{
    color:#555;
    font-size: 24px;
    text-align: center;
}
#movie .wrap .content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
#movie .wrap .content .box{
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
}
#movie .wrap .content .box .movie_item{
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
#movie .wrap .content .box .movie_item img{
    display: block;
    height: 40px;
}
#movie .wrap .content .box h3{
    font-size: 16px;
    color:#555;
    padding-top: 20px;
    font-weight: lighter;
}


/*banner_middle*/
.banner_middle{
    height: 300px;
    background-image: url(../img/visual_04.png);
    background-size: cover;
    background-position: 50% 50%;
}
.banner_middle .wrap{
    width: 1200px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner_middle .wrap .txt_part{
    text-align: center;
}
.banner_middle .wrap .txt_part h2{
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 40px;
}
.banner_middle .wrap .txt_part p{
    font-size: 16px;
    padding-bottom: 30px;
}
.banner_middle .wrap .txt_part a{
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color:#fff;
    border:1px solid #fff;
    margin: 0 auto;
    line-height: 28px;
    font-weight: lighter;
}
.banner_middle .wrap .txt_part a:hover{
    background-color: rgba(255,255,255,0.3);
}

/*actor*/
#actor{
    padding: 60px 0;
}
#actor .wrap{
    width: 1200px;
    margin: 0 auto;
}
#actor .wrap .title{
    padding-bottom: 40px;
}
#actor .wrap .title h2{
    font-size: 24px;
    color:#555;
    font-weight: normal;
    text-align: center;
}
#actor .wrap .cont{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
#actor .wrap .cont .box{
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    height: 380px;
    position: relative;
    overflow: hidden;
}
#actor .wrap .cont .box .actor_bg{
    width: 100%; height: 100%;
    background-color: #eee;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s;
}
#actor .wrap .cont .box:hover .actor_bg{
    transform: scale(1.05);
}

#actor .wrap .cont .box .txt_part{
    position: absolute;
    width: 100%; height: 60px;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transform: translateY(100%);
    transition: transform 0.5s;
}
#actor .wrap .cont .box:hover .txt_part{
    transform: translateY(0%);
}
#actor .wrap .cont .box .txt_part p{
    font-size: 18px;
    color:#fff;
}
#actor .wrap .cont .box .txt_part a{
    display: block;
    width: 160px; 
    height: 30px;
    border-radius: 15px;
    border:1px solid #fff;
    color:#fff;
    text-align: center;
    line-height: 28px;
    transition: background-color 0.5s;
}
#actor .wrap .cont .box .txt_part a:hover{
    background-color: rgba(255,255,255,0.3);
}

#actor .wrap .more_btn{
    display: flex;
    justify-content: center;
}
#actor .wrap .more_btn a{
    width: 180px;
    line-height: 40px;
    text-align: center;
    border-radius:20px;
    background-color: #555;
    color:#fff;
    transition: background-color 0.5s;
}
#actor .wrap .more_btn a:hover{
    background-color: #333;
}


/* review */
#review{
    height: 480px;
    background-image: url(../img/content_03.png);
    background-size: cover;
    background-position: 50% 50%;
}
#review .dark{
    width: 100%; height: 100%;
    padding: 60px 0;
}
#review .dark .wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}
#review .dark .wrap .title{
    padding-bottom: 40px;
}
#review .dark .wrap .title h2{
    font-size: 24px;
    color:#fff;
    text-align: center;
    font-weight: normal;
    line-height: 30px;
}
#review .dark .wrap .slider_cover{overflow: hidden;}
#review .dark .wrap .slider_cover .slider{
    width: 300%;
    display: flex;
    flex-wrap: wrap;
    color:#fff;
}
#review .dark .wrap .slider_cover .slider .slide{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#review .dark .wrap .slider_cover .slider .slide p{
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 20px;
    word-break: keep-all;
    width: calc(100% / 3 * 2);
    margin: 0 auto;
}
#review .dark .wrap .slider_cover .slider .slide .img{
    display: block;
    width: 100px; height: 100px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
}
#review .dark .wrap .slider_cover .slider .slide span{
    display: block;
    padding-top: 20px;
    font-size: 14px;
}

#review .dark .wrap .pager{
    padding-top: 20px;
}
#review .dark .wrap .pager ol{
    display: flex;
    justify-content: center;
}
#review .dark .wrap .pager ol li{
    margin: 0 15px;
    background-color: #a0a0a0;
    width: 20px; height: 20px;
    border-radius:50%;
    cursor: pointer;
}
#review .dark .wrap .pager ol li.active{
    background-color: #fff;
}



/*footer*/
footer{
    padding: 40px 0;
    background-color: #555;
    color:#fff;
}
footer a{color:#ccc;}
footer a:hover{color:#fff;}

footer .wrap{
    width: 1200px;
    margin: 0 auto;
}
footer .wrap .footer_link{
    display: flex;
    border-bottom: 1px solid #a0a0a0;
}
footer .wrap .footer_link li{
    margin-right: 40px;
}
footer .wrap .footer_link li a{
    font-size: 14px;
    line-height: 30px;
}

footer .wrap .footer_info{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
footer .wrap .footer_info .box{
    width: calc(50% - 20px);
    margin: 0 10px;
}
footer .wrap .footer_info .box ul{
    display: flex;
}
footer .wrap .footer_info .box ul li{}
footer .wrap .footer_info .box ul li span{
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding-right: 6px;
    margin-right: 5px;
    position: relative;
}
footer .wrap .footer_info .box ul li span:after{
    content:"";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #a0a0a0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


footer .wrap .footer_info .box ul li:last-child span:after{
    background-color: transparent;
}
footer .wrap .footer_info .box p{font-size: 14px; line-height: 20px;}













